// Write your overrides
.layout-nav-type-vertical .layout-vertical-nav{
  // background-color: #fff;
  background: rgba(51, 51, 51, 1);
  color: white;
}

.layout-nav-type-vertical .layout-vertical-nav .nav-section-title{
  color: white !important;
}

.depLoginText{
  position: absolute !important;
  z-index: 1 !important;
  // inset-block-start: 16rem;
  inset-inline-start: 7.3rem;
}

.vcardtext--terms{
  // max-width:500px;
  max-height:500px
}

.black-text{
  color: #000;
}

//wabaEmbeddedSignup
.alertwaba{
  background: linear-gradient(0deg, #FBF4E8, #FBF4E8),
  linear-gradient(0deg, #FFE7BC, #FFE7BC) !important;
}

.v-icon .mb-5{
  margin: 0;
  padding: 0;
}

.mb-0{
  color: rgba(var(--v-theme-on-background), var(--v-high-emphasis-opacity));
}

.custom-card-hello-login {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
}

.custom-bg-secondary {
  background-color:rgb(255, 203, 5, 20%);
}

.table-wrapper {
  flex: 1; /* lets it grow in flex layouts */
  overflow-y: auto;
  max-height: calc(76vh - 150px); /* adjust 150px depending on header/footer size */
}